body{
    font-size: 15px;
    background-color:blanchedalmond;
}
.container{
    display:flex;
    flex-direction:column;
    margin:0 auto;
    /* max-width:300px; */
}

.list-style{
    list-style-type: decimal;
    margin-left:10px;
    font-size:1.5em;

}

li::first-letter{
    font-size: 1em;
    font-weight: 700;;
    text-transform: uppercase;
}
h2{
    display:none;
}

.input-btn{
    display:flex;
    flex-direction:column;
    width:40%;
    height:55px;
    align-self:end;
    justify-content:space-between;
}
#btn{
    width:70%;
    padding-top:4px;
    align-self:end;
}
@media only screen and (min-width:426.9px){
    body{
        margin:0 auto;
    }
    .container{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
    }
    
    .input-btn{
        /* background-color:blue; */
        align-self:start;
        justify-content:space-between;
        padding-top:15px;
    }
    

}
@media only screen and (min-width:786px){
    body{
        margin:0 auto;
    }
    h2{
       display:inline-block; 
       margin:0 auto;
    }
    .container{
        display:none;
    }
    h1{
        display:none;
    }
}
