html body{
    margin: 0 auto;
    background-image: linear-gradient(to right, #aed, #edf);
}

.container{
    background-image: linear-gradient(to right, #edf, #aed);
    display:flex;
    margin:0 auto;
    flex-direction: column;
    width:100%;
    box-sizing: border-box;
}
h1{
    text-align:center;
}
.input-btn{
    height:60px;
    justify-content: space-between;
    display:flex;
    flex-direction:column;
}
#btn{
    align-self:flex-end;
}
.list-style{
    list-style-type:decimal;
}
li::first-letter{
    text-transform: uppercase;
}

@media only screen and (min-width:576px) {
    .container{
        color:blue;
        flex-direction:row;
        transition:5s;
    }
    
    li{
        font-size:1.4em;
        margin-top:0px;
    }
    h1{
        transition:5s;
        transition-duration: 5s;
    }
    
    .input-btn{
        padding-top:15px;
        flex:1;
    }
    .listitems{
        flex:1;
    }
}
@media only screen and (min-width:768px) {
    .container{
        width:500px;
        margin:0 auto;
    }

}